<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="rewaffle" value="https://nuget.pkg.github.com/rewaffle/index.json" />
    <add key="local-ilc" value="/Users/nate/GitHub/runtimelab-packages" />
    <add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="rewaffle">
      <package pattern="Bootsharp*" />
    </packageSource>
    <packageSource key="local-ilc">
      <package pattern="Microsoft.DotNet.ILCompiler.LLVM" />
      <package pattern="runtime.*.Microsoft.DotNet.ILCompiler.LLVM" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.DotNet.ILCompiler" />
      <package pattern="runtime.*.Microsoft.DotNet.ILCompiler" />
    </packageSource>
    <packageSource key="dotnet-experimental">
      <package pattern="Microsoft.DotNet.ILCompiler.LLVM" />
      <package pattern="runtime.*.Microsoft.DotNet.ILCompiler.LLVM" />
    </packageSource>
  </packageSourceMapping>
</configuration>
