# npm defaults can ignore leading-underscore paths; force-include _framework
!_framework
!_framework/**

bin/
obj/
*.pdb
*.swp
*.editorconfig
*.wal
*.csv

node_modules/

.vscode/
.claude/

src/
pkg/
.gitkeep
*.map
tsconfig.json
index.html
node_modules/
